
<div class="container">
    <app-navigation></app-navigation>
    <div class="row">
        <div class="col-md-3 vertical-hr">
            <div class="row">
                <app-color></app-color>
            </div>
            <div class="row">
                <app-brand></app-brand>
            </div>
            <div class="row">
                <app-customer></app-customer>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <app-rental></app-rental>
            </div>
            <div class="row">
                <app-car></app-car>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>